/* * {
    font-family: monospace;
    color: greenyellow;
    background-color: #131b4d;
} */
html {
    scroll-behavior: smooth;
}
a {
    color: greenyellow;
    text-decoration: none;
}
body {
    overflow-x: hidden;
    font-family: monospace;
    color: greenyellow;
    background-color: #131b4d;
    height: 100vh;
} 
nav {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}
.nav {
    display: flex;
    position: relative;
    width: 32vw;
    bottom: 161vh;
    justify-content: space-around;
    letter-spacing: 3px;
    float: right;
    margin-right: 28px;
}
.nav > li > a {
    color: greenyellow;
    text-decoration: none;
}
.nav > li:hover {
    border-bottom: solid 2px greenyellow;
    cursor: pointer;
}
.hero-background {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.chevrons {
    display: flex;
    width: 100px;
    position: relative;
    bottom: 71vh;
    margin: 0 auto;
}
#name {
    position: relative;
    bottom: 98vh;
    left: 20px;
}
.profile-pic {
    display: flex;
    margin: 0 auto;
    border-radius: 150px;
    position: relative;
    bottom: 86vh;
    border: solid 5px;
}
#personal-info {
    position: relative;
    bottom: 62vh;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
table {
    padding: 3px;
    border-spacing: 3px;
    border: solid 2px greenyellow;
}
th, tr, td {
    border: solid 2px greenyellow;
    padding: 3px;
    border-spacing: 3px;
}
