/* * {
    font-family: monospace;
    color: greenyellow;
    background-color: #131b4d;
} */

body {
    overflow-x: hidden;
    font-family: monospace;
    color: greenyellow;
    background-color: #131b4d;
    height: 100vh;
}
.hero-background {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}
.chevrons {
    display: flex;
    width: 100px;
    position: relative;
    bottom: 71vh;
    margin: 0 auto;
}
.name {
    position: relative;
    bottom: 98vh;
    left: 20px;
}
.profile-pic {
    display: flex;
    margin: 0 auto;
    border-radius: 150px;
    position: relative;
    bottom: 86vh;
    border: solid 5px;
}
.fa-angle-double-down {
    display: inline;
    width: 200px;
    height: 200px;
    color: white;
}
.personal-info {
    position: relative;
    bottom: 46vh;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
table {
    padding: 3px;
    border-spacing: 3px;
    border: solid 2px greenyellow;
}
th, tr, td {
    border: solid 2px greenyellow;
    padding: 3px;
    border-spacing: 3px;
}
